/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Encabezado estilo */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #000000; /* Color negro */
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Ajuste del logo */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 90px; /* Tamaño del logo ajustado */
  margin-right: 15px;
  max-width: 100%;
  max-height: 100%;
}

/* Navegación estilo */
.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-links li {
  margin: 0 10px;
}

/* Animación y estilo de enlaces */
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ff0000;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Iconos sociales */
.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #ff0000;
}

.footer {
  position: relative;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: #ccc; /* Color de texto gris claro */
  padding: 20px 0; /* Espaciado superior e inferior */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* Ajuste de contenido para evitar solapamiento */
.App {
  margin-top: 80px; /* Ajustado para el tamaño del encabezado */
  background-image: url(./estilos/Imagenes/redhumodiago.png);
}

/* Estilos responsive */
@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
  }
  .nav-links a {
    font-size: 14px;
  }
  .social-icons .icon {
    font-size: 18px;
  }
}

.container {
  margin-top: 0px; /* Ajusta según la altura de tu encabezado */
}

.logo {
  max-height: 40px; /* Disminuye la altura máxima del logo */
  width: auto;
  margin-right: 10px; /* Espacio mínimo alrededor del logo */
}
